@import "partials/toc";

/* GLOBAL RESETS */

* {
    box-sizing: border-box;
}

// VARIABLES

$color-text-light: #EFDABE;
$color-text-headings: rgba(0, 0, 0, 1);
$color-accent: #5B8C5A;
$color-link: rgb(56, 114, 221);
$color-link-dark: rgb(38, 77, 148);
$color-lightgrey: rgba(0, 0, 0, .4);
$font-family-sans: mr-eaves-modern, helvetica, arial;
$font-family-serif: 'playfair-display', georgia, times;

// BREAKPOINTS 

$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORTS

@import "partials/typography";
@import "partials/buttons";
@import "partials/media";
@import "partials/layout";
@import "partials/grid";
@import "partials/structure";
@import "partials/helpers";
@import "partials/sitenav";
@import "partials/animations";