/* SITE-HEADER SITE-NAV */

.site-header .site-nav {



    .menu-button {
        position: absolute;
        top: 1em;
        right: 1em;
        color: $color-accent;
        margin: 0;
        font-size: 1.5em;
        line-height: 1;
        z-index: 20;
        cursor: pointer;
        background: transparent;
        border: none;
        padding: 0;
        display: block;

        @media (min-width: $breakpoint-small) {
            display: none;
        }

        svg {
            fill: $color-text-light;

            rect {
                transition: 250ms ease-out;
            }
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $color-accent;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate(100%, 0);
        transition: 250ms all ease-out;
        font-family: $font-family-sans;
        font-weight: 400;
        z-index: 1;

        @media (min-width: $breakpoint-small) {
            position: relative;
            transform: translate(0);
            background-color: transparent;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-end;
            padding: .5em 2em .4em 2em;
            margin-top: 0;
            background-color: $color-accent;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            height: 100%;
            width: 100%;
        }
    }

    li {
        font-size: 6vw;
        padding: 5%;
        transform: translate(10%, 0);
        transition: 400ms all ease-in-out;
        // min-width: 20vw;
        opacity: 0;

        a {
            color: $color-text-light;

            &:hover {
                opacity: .6;
            }
        }

        @media (min-width: $breakpoint-small) {
            padding: 0;
            opacity: 1;
            font-size: 1.5em;
            font-weight: 700;
            margin-right: 40px;
        }
    }

    li.about {
        transition-delay: .4s;
    }

    li.menu {
        transition-delay: .6s;
    }

    .menubar-top,
    .menubar-middle,
    .menubar-bottom {
        transform-origin: center;
    }

    &[data-navstate="open"] {

        .menu-button {
            position: fixed;
        }

        .menubar-top {

            // transform: translate(0, 8px);
            transform: translate(7px, 7px) rotate(-45deg);
            fill: $color-text-light;
        }

        .menubar-middle {
            opacity: 0;
        }

        .menubar-bottom {

            // transform: translate(0, -8px);
            transform: translate(0, -4px) rotate(45deg);
            fill: $color-text-light;
        }

        ul {
            transform: translate(0, 0);
        }

        li {
            transform: translate(0, 0);
            opacity: 1;
        }
    }
}

/* SITE-FOOTER SITE-NAV */

.site-footer .site-nav {
    ul {
        margin: 0;
        list-style: none;
        display: flex;
        padding: 0;
    }

    a {
        display: block;
        padding: 1em;
        line-height: 1;
    }
}